user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections {{ worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout 65;

    # Другие общие настройки http
    include /etc/nginx/conf.d/*.conf;
}